/* Estilo general para el cuerpo de la página */
body {
  background-color: #f8f8f8; /* Fondo gris claro */
  font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
header {
  background-color: #ff9800; /* Naranja */
  color: #fff; /* Texto blanco */
  padding: 10px;
  text-align: center;
}

/* Estilo para los títulos */
h1, h2, h3, h4, h5, h6 {
  color: #333; /* Texto gris oscuro */
}

/* Estilo para el botón "Agregar Gasto" */
#agregar-gasto {
  background-color: #ff9800; /* Naranja */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

/* Estilo para el botón "Crear Presupuesto" */
#crear-presupuesto {
  background-color: #ff9800; /* Naranja */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

/* Estilo para el pie de página */
footer {
  background-color: #333; /* Fondo gris oscuro */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 10px;
}

/* Estilo para los campos de entrada de texto y número */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

/* Estilo para los campos de entrada en Detalles del Presupuesto */
.nombre-gasto,
.valor-gasto {
  border: 1px solid #ccc; /* Borde gris claro */
  padding: 5px;
  margin: 5px 0;
}

/* Estilo para los botones */
.btn {
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 5px;
}

.btn-primary {
  background-color: #ff9800; /* Naranja */
  color: #fff; /* Texto blanco */
}

.btn-success {
  background-color: #4CAF50; /* Verde */
  color: #fff; /* Texto blanco */
}

.btn-danger {
  background-color: #f44336; /* Rojo */
  color: #fff; /* Texto blanco */
}

/* Estilo para el selector de presupuestos */
#selector-presupuestos {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

/* Estilo para el mensaje de estado del presupuesto */
#estado-presupuesto {
  margin: 10px 0;
  font-weight: bold;
  color: #333; /* Texto gris oscuro */
}
